@page
<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="col-md-3">User</div>
                <div class="col-md-9"><input type="text" id="userIdFrom" /></div>
                <div class="col-md-9"><input type="text" id="userIdTo" /></div>

                <div class="col-md-9"><input type="text" id="userName" /></div>


            </div>
            <div class="col-md-6">
                <div class="col-md-3">UserTypTrip</div>
                <div class="col-md-9"><input type="text" id="userID" /></div>
                <div class="col-md-9"><input type="text" id="UserType" /></div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="col-md-3">Message</div>
                <div class="col-md-9">
                    <input type="text" id="userMessage" /> &nbsp;&nbsp;&nbsp;
                    <input type="text" id="userType" />
                    <input type="button" id="TripChat" value="Send Chat" />

                    <input type="button" id="sendMessage" value="Send Message" />
                    <input type="button" id="AcceptTrip" value="Accept Trip" />
                    <input type="button" id="CancelTrip" value="Cancel Trip" />
                    <input type="button" id="EndTrip" value="End Trip" />
                    <input type="button" id="ClientCancelTrip" value="Client Cancel Trip" />
                    <input type="button" id="ClientArrived" value="Driver Arrived" />

                    <input type="button" id="ClientComplaint" value="Make Complaint" />
                    <input type="button" id="DriverEmergency" value="Make Emergency" />
                    <input type="button" id="ClientSchudleTrip" value="Make Schudle Trip" />
                    <input type="button" id="DriverCancelTrip" value="Driver Cancel Trip" />
                    <input type="button" id="GetRuchHour" value="Get Ruch Hour" />
                    <input type="button" id="GetTripCost" value="Get Trip Cost" />
                    <input type="button" id="SendTripIdToDriver" value="Send Trip Id To Driver" />




                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
<script src="~/lib/signalr/signalr.js"></script>
<script src="~/js/chat.js"></script>